<%- include('partials/header.ejs') %>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Home Page</h1>
        <div class="col-lg-6 mx-auto">
            <% if (greetUser) { %>
                <p class="lead mb-4">Welcome, <%= username %>!</p>
            <% } %> 
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <form action="/<%= firstAction %>" method="GET">
                    <button class="btn btn-custom-primary" type="submit"><%=buttonLabel1%></button>
                </form>
                <form action="/<%= secondAction %>" method="GET">
                    <button class="btn btn-primary" type="submit"><%=buttonLabel2%></button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>